
.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.circle {
  animation: circle 5s linear infinite;
}

@keyframes circle {
  from {
    stroke-dasharray: 0 502;
  }
  to {
    stroke-dasharray: 502 0;
  }
}
